
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

php_value post_max_size 15M
php_value upload_max_filesize 15M

Order Allow,Deny
Allow from all
Deny from 149.56.73.65
Deny from 54.83.18.149
Deny from 192.187.100.82
Deny from 5.188.62.117
Deny from 121.42.13.194
Deny from 5.9.7.197
Deny from 82.149.134.55
